input, textarea, select{
    background: #E8E8E8;
    border-radius: 16px;
    padding: 21px 24px;
    font-size: 14px;
    line-height: 22px;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid #E8E8E8;

    &::placeholder{
        color: #747474;
    }
    &:focus{
        border-color: #00C896;
    }
}

select{
    -webkit-appearance: none;
    appearance: none;
    &:focus{
        outline-color: #00C896;
    }
    color: #747474;
}